- var page_title = "WISS 2024: 第32回インタラクティブシステムとソフトウェアに関するワークショップ"

- 
  const oral_sessions = [
    { 
      session: "セッション1: XR", 
      talks: [ "01", "02", "03", "04" ] ,
      session_chair: "TBD",
      chat_chair: "TBD",
    },
    { 
      session: "セッション2: 音", 
      talks: [ "05", "06", "07" ] ,
      session_chair: "TBD",
      chat_chair: "TBD",
    },
    { 
      session: "セッション3: 入力／出力", 
      talks: [ "08", "09", "10", "11" ] ,
      session_chair: "TBD",
      chat_chair: "TBD",
    },
    { 
      session: "セッション4: ファブ／マテリアル", 
      talks: [ "12", "13", "14" ] ,
      session_chair: "TBD",
      chat_chair: "TBD",
    },
    { 
      session: "セッション5: エンターテインメント", 
      talks: [ "15", "16", "17" ] ,
      session_chair: "TBD",
      chat_chair: "TBD",
    },
    { 
      session: "セッション6: 支援", 
      talks: [ "18", "19", "20" ,"21"] ,
      session_chair: "TBD",
      chat_chair: "TBD",
    },
    {
      session: "セッション7: 国際学会招待発表", 
      talks: [ "22", "23", "24", "25"] ,
      session_chair: "TBD",
      chat_chair: "TBD",
    },
    {
      session: "国際学会招待発表（デモ）", 
      talks: [ "26"], 
    }
  ];



- const placeholder_image_path = "./assets/representatives/placeholder.jpg"


doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    include includes/seo
    title #{page_title}
    include includes/bootstrap-css
    link(rel="stylesheet" href="./css/override.css")
  body
    include includes/header
    .container.nav-padding.content
      h1 全体スケジュール
      .row
        each schedule in schedule_data
          .col-lg-4
            table.table.table-hover(style="margin-bottom: 48px;")
              thead.thead-dark
                tr
                  th(scope="col" colspan="2") #{schedule["name"]}
              tbody
                each entry in schedule["content"]
                  tr
                    td #{entry["time"]}
                    td #{entry["title"]} <small>[#{entry["duration"]}分]</small>
      h1 登壇発表
      ul
        li 登壇発表：<b>15分</b> <small>[発表10分・質疑4分・入れ替え1分]</small>
        li 国際学会招待発表：<b>15分</b> <small>[発表10分・質疑4分・入れ替え1分]</small>
      .program
        each session in oral_sessions
          hr
          .jumbotron
            h3 #{session["session"]}
            ul.list-inline
              //- li.list-inline-item <b>日時：</b>XX/XX XX:XX&mdash;XX:XX
              li.list-inline-item <b>座長：</b>#{session["session_chair"]}
              li.list-inline-item <b>チャット座長：</b>#{session["chat_chair"]}
          each talk in session["talks"]
            each entry in papers_data
              - const csv_data_entry = papers_author_provided_data[parseInt(talk) - 1];
              - const image_path = csv_data_entry["image"] == "TRUE" ? "./assets/representatives/" + talk + ".png" : placeholder_image_path;
              - const entry_name = csv_data_entry["category"];
              //- const category_class = entry_name == "L" ? "badge-long" : (entry_name != "I" ? "badge-short" : "badge-int");
              //- const category_name = entry_name == "L" ? "ロング発表" : (entry_name == "S" ? "ショート発表" : (entry_name == "D" ? "議論枠発表" : "国際発表"));
              - const text1 =  entry_name != "I" ? "採録時コメント" : "国際学会・国際論文誌名";
              if entry["id"] == talk
                h4 [#{talk}] #{entry["title"]} <span class="badge #{category_class}">#{category_name}</span>
                p.authors #{entry["authors"]}

                .row
                  .col-md-4
                    img.img-fluid.img-thumbnail.representative(src=image_path)

                  .col-md-4
                    h5 要旨：
                    p #{csv_data_entry["abstract"]}

                  .col-md-4
                     h5 #{text1}
                     p  #{csv_data_entry["comment"]}

       
        hr
        p 
          small 著者の方へ：プログラムに記載された情報に誤りがある場合は，プログラム委員長 2024@wiss.org へ連絡をお願いします．
    include includes/footer
    include includes/bootstrap-js
